name: GPU - Train Model, push logs to Wandb

on:
    workflow_dispatch:

jobs:
    build:
        permissions: write-all
        runs-on: ubuntu-22.04
        environment: Repository

        steps:
            -   uses: actions/checkout@v5

            -   uses: actions/setup-python@v6
                with:
                    python-version: '3.10.10'

            -   uses: iterative/setup-cml@v3

            -   name: Install dependencies
                run: |
                    pip install lightning-sdk
                    pip list
                shell: bash

            -   name: Post config.yaml in PR comment
                continue-on-error: true
                env:
                    REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                run: |
                    echo "## Model was built using Config" >> config-indented.md
                    sed 's/  /\&nbsp;\&nbsp;/g' ./src/config.yaml > config-indented.md
                    cml comment update --watermark-title='GPU {workflow} config' config-indented.md

            -   name: Start lightning.ai studio and train model there
                run: |
                    python -c 'import os, re
                    from lightning_sdk import Studio, Machine

                    user = os.environ.get("LIGHTNING_AI_USERNAME")
                    branch = os.environ.get("GITHUB_REF_NAME", "main")
                    branch_studio_name = re.sub("[^a-zA-Z0-9-]", "-", branch)[:30]

                    studio = Studio(name=branch_studio_name, teamspace="Vision-model", user=user)
                    studio.start(Machine.T4)

                    try:
                        studio.run("rm -rf tree-classification-irim")
                        studio.run(f"git clone --single-branch --branch {branch} https://github.com/GHOST-Science-Club/tree-classification-irim.git")
                        studio.run("pip install -r ./tree-classification-irim/unix-requirements.txt")
                        studio.run("cd tree-classification-irim && ./main.py")
                    finally:
                        studio.stop()
                        studio.delete()'

                env:
                    LIGHTNING_AI_USERNAME: ${{ secrets.LIGHTNING_AI_USERNAME }}
                    LIGHTNING_USER_ID: ${{ secrets.LIGHTNING_USER_ID }}
                    LIGHTNING_API_KEY: ${{ secrets.LIGHTNING_API_KEY }}
                    WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}

